.guide {
  main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    align-items: stretch;

    &.hidden {
      opacity: 0;
    }

    nav {
      position: relative;
      padding: 40px;
      width: 350px;
      flex-shrink: 0;
      background: linear-gradient(to top, #876fdb, #4177c3);

      a {
        padding: 0;
        color: #fff;
        font-size: 14px;
      }

      code {
        background-color: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.5);
      }

      ul {
        top: 40px;
        position: sticky;
      }
    }

    section {
      padding: 0 40px 40px 40px;
      color: #21252a;
      background-color: #eaecf2;
      flex: 0 1 auto;

      h1 {
        font-size: 40px;
        padding-top: 1em;
        font-weight: bold;
      }

      h2,
      h3 {
        margin-bottom: 0.5em;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
      }

      h2 {
        font-size: 28px;
      }

      h1,
      p {
        margin-bottom: 1em;
      }

      pre.highlighted {
        border-radius: 0;
        border: none;
        display: block;
        background-color: #212121;
        padding: 20px 20px;
        margin-right: -20px;
        margin-left: -20px;
        margin-bottom: 20px;
        border-radius: 3px;
        color: #fff;

        & {
          .comment {
            color: #a0a0a0;
          }
          .keyword {
            color: #c792ea;
          }

          .operator {
            color: #89ddff;
          }
          .tag .script,
          .punctuation {
            color: #fff;
          }

          .parameter,
          .function,
          .function-variable {
            color: #82aaff;
          }
          .attr-value,
          .attr-value .punctuation {
            color: #c3e88d;
          }
          .tag {
            color: #ff5370;
          }
          .attr-name {
            color: #c792ea;
          }
          .string {
            color: #c3e88d;
          }
          .boolean {
            color: #f78c6c;
          }
        }
      }
    }
  }
}
