main.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 0 40px;

  section {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-bottom: 100px;

    @media only screen and (max-width: 1000px) {
      & {
        flex-flow: column !important;
      }

      & .copy {
        width: 100% !important;
        padding: 40px !important;
      }

      & .example {
        width: 100% !important;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .copy {
      color: #21252a;
      background-color: #eaecf2;
      padding: 80px 40px;
      width: 40%;
    }

    .copy h3 {
      text-transform: capitalize;
      font-size: 35px;
      font-weight: 300;
      margin-bottom: 30px;
      letter-spacing: -0.08em;
    }

    .copy p {
      margin-bottom: 30px;
    }

    .copy p:last-child {
      margin-bottom: 0;
    }

    .copy span.code {
      font-family: 'JetBrains Mono', monospace;
      background-color: #c8cad0;
      border: 1px solid #aaacb2;
      border-radius: 3px;
      padding: 0 4px;
    }

    .example {
      width: 60%;
      display: flex;
      flex-direction: column;
    }

    .example .editor {
      padding: 40px;
      background: #212121;
      width: 100%;
      max-height: 400px;
      position: relative;
    }

    .example .editor button.rerun {
      font-family: 'JetBrains Mono', monospace;
      position: absolute;
      left: 0px;
      bottom: 0px;
      background: #4177c3;
      color: #ffffff;
      padding: 4px 8px;
    }

    .example .target {
      padding: 40px;
      background: linear-gradient(to left, #876fdb, #4177c3);
      flex-grow: 1;
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .example .target pre.error {
      font-family: 'JetBrains Mono', monospace;
      font-size: 12px;
      color: #eaecf2;
    }

    .example .target span {
      margin-right: 5px;
    }

    .example .target button {
      font-size: 18px;
      background: #eaecf2;
      color: #4177c3;
      padding: 6px 12px;
      border-radius: 3px;
      font-weight: 500;
      margin-right: 5px;
    }

    .example .target input[type='checkbox'] {
      margin: 0 5px;
    }
    .example .target pre {
      margin-bottom: 10px;
    }

    .example .target input[type='text'] {
      border: 2px solid #eaecf2;
      color: #eaecf2;
      border-radius: 3px;
      font-size: 16px;
      padding: 2px 8px;
      margin-right: 5px;
    }
  }
}
