<!DOCTYPE html>
<html lang="en" class="<%= htmlWebpackPlugin.options.page %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="<%=htmlWebpackPlugin.options.origin + require('../assets/og-image.png')%>" />
    <title>Kaiku – Reactive UI Framework for the Web</title>
  </head>
  <body>
    <nav class="bar">
      <a href="./" class="home">
        <img src="<%=require('../assets/logo.png')%>" alt="Kaiku logo" />Kaiku</a>
      <a href="./guide.html">Guide</a>
      <a href="./playground.html">Playground</a>
      <a
        href="https://github.com/oamaok/kaiku"
        target="_blank"
        title="Source on Github"
        ><div class="github"></div></a>
    </nav>
    <%= require('!!html-loader!./' + htmlWebpackPlugin.options.page + '.html').default %>
  </body>
</html>